/******************* Header *********************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mobile-header {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

}

header a {
  text-decoration: none;
}

header nav a {
  color: #272A31;
}

.desktop-header-icons {
  width: 100%;
  padding: 0;
  background-color: rgb(62,62,62);
}

.desktop-header-icons ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding-right: 155px;
}

.desktop-header-icons ul li {
  margin: 5px 10px 5px 10px;
  color: white;
}

.desktop-header-nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.desktop-header-nav img {
  width: 48px;
  height: 48px;
}

.desktop-header-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.desktop-header-nav ul li {
  margin-left: 60px
}

main {
  margin-top: 80px;
}

.intro {
  background-image: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)),url(../images/webdesktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 60px 150px 80px 150px;
}


.intro h1 {
  color: rgb(236, 82, 66);
  font-size: 62px;
  font-family: 'COCOGOOSE', sans-serif;                                         
  padding: 10px;
  width: 60%;
  background-image: url(../images/fire.jpg);
  background-size: cover;
  background-position: center center;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p {
  padding: 15px;
  color: #272A31;
  border: 2px solid white;
  font-size: 20px;
  line-height: 30px;
  width: 60%;
  font-family: 'Lato', sans-serif;
                                                
}

/*************Main Program **************/

.main-program {
  background-image: url(../images/main-bg.png), linear-gradient(rgb(39,42,49),rgb(39,42,49));
  background-repeat: repeat;
  background-size: 20px;
  border: solid;
}

.main-program > p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #d3d3d3;
  font-family: 'Lato', sans-serif;                                    
}

.main-program hr, .tutors hr, .partner hr, .testimonies hr, .logo-descript hr {
  width: 40px;
  border: 1px solid #EC5242;
}

.program-list {
  list-style-type: none;
  padding: 20px 100px 30px 100px;
  display: flex;

}

.program-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  min-height: 90px;
  background-color: rgb(211, 211, 211, 0.2);
  width: 40%;
  min-height: 140px;
  padding: 20px;
}

.flex1, .flex2, .flex3 {
  margin: 4px;
  font-size: 14px;
  font-weight: 600;
}

.flex1 {
  width:48px;
  height: 48px;
  
}

.flex2 {
  min-width: 25%;
  overflow: hidden;
  color: #EC5242;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;                           
}

.flex3 {
  min-width: 50%;
  overflow: hidden;
  color: #272A31;
  text-align: center;
  margin-top: 10px;
  line-height: 20px;
  color: white;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
                                                
}

.join-gst {
  display: none;
}

.show-more-courses {
  display: block;
  margin: 0 auto;
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
  margin-bottom: 60px;
  font-family: 'Lato', sans-serif;
                                                
}

/******************* Our Tutors *******************/

.tutors {
  padding-left: 6%;
  padding-right: 6%;
}

.tutors-title {
  text-align: center;
  font-weight: bold;
  color: #EC5242;
  font-family: 'Lato', sans-serif;
                                                
}

.grid-tutors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  font-family: 'Lato', sans-serif;                     
}

.grid-pro-1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 12px;
  padding-top: 12px;
  object-fit: cover;
  object-position: bottom;
}

.image-container {
  background-image: url('../images/chess.jpg');
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  padding: 0; 
}

.grid-pro-2 {
  margin: 0;
  font-weight: bold;
  word-break: break-all;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.grid-pro-3 {
  margin: 0;
  font-size: 12px;
  font-style: italic;
  color: #EC5242;
  font-weight: bold;
  word-break: break-all;
  font-family: 'Lato', sans-serif;
  line-height:20px;
}

.grid-pro-4 {
  word-break: break-all;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height:20px;
  font-weight: bold;
}

.grid-profiles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.profile-info::after {
  content: "";
  clear: both;
  display: block;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: right;
  clear: both;
  padding-top: 5px;
}

.grid-profiles p {
  margin-left: 10px;
  padding: 3px;
}

.more-tutors {
  display: none;
}

/********************** Footer ********************/

.about-footer {
   background-color: white;
}

.desktop-partner {
  display: none;
}

.desktop-footer {
  background-color: rgb(46,46,46);
  margin-top: 60px;
}

.desktop-footer div:last-child p {
  color: rgb(62,62,62);
}

.about-footer div:last-child p {
  color: white;
}


.partner {
  background-color: rgb(46,46,46);
  min-height: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;  

}

.partner p {
  text-align: center;
  color: gray;
  font-size: 20px;
}

.partner ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}

.partner ul li {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}


footer div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

footer div:last-child p {
  margin-left: 100px;
  font-family: 'Lato', sans-serif;                                       
}

.footer-logo {
  display: block;
  width: 68px;
  height: 68px;
  margin-right: 100px;

}

/************************ About Section ************************/

.body {
  background-color: #e6e4e4;
}

.description {
  background-color: #e6e4e4;
  padding: 20px 20px 20px 150px;
  text-align: center;
}

.description h1 {
  color: orangered;
  font-size: 50px;
  font-weight: 400px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  font-family: 'COCOGOOSE', sans-serif;
}

.description > p {
  border: 2px solid gray;
  padding: 15px;
  margin: 20px;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;

}

.contact-us {
  text-align: center;
  padding-bottom: 20px;
}

.contact-us p {
  padding: 0 15px;
  line-height: 32px;
  font-family: 'Lato', sans-serif;
}

.about-logo {
  background-color: white;
  padding-left: 150px;
}

.logo-descript {
  margin: 0 auto;
  width: 70%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.logo-descript p {
  padding: 0 65px;
}

.logo {
  margin: 0 auto;
  width: 40%;
  border: 1px solid rgb(179, 177, 177);
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.logo img {
  max-width: 40%;
  height: auto;
}

.testimonies {
  background-color: white;
  padding: 20px 20px 20px 150px;
}

.testimonies-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.testimonies-intro {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.testimonies-cards {
  margin-left: 15%;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.card1 {
  background-image: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)),url(../images/2020.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48%;
  height: 250px;
  position: relative;
}

.card2 {
  background-image: linear-gradient(rgba(236, 82, 66, 0.6), rgba(236, 82, 66, 0.6)), url(../images/2019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48%;
  height: 250px;
  position: relative;
}

.year {
  color: white;
  position: absolute;
  top: 40px;
  left: 150px;
  font-family: 'Lato', sans-serif;
}

.statistics {
  color: white;
  position: absolute;
  top: 80px;
  left: 80px;
  font-family: 'Lato', sans-serif;
}



