/* Home Page */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.menu-icon {
  font-size:30px;
}



.intro {
  background-image: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)),url(../images/webmobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  border: solid;
  padding-top: 30px;
}

.intro h1 {
  color: #EC5242;
  font-size: 52px;
  font-family: sans-serif;
  padding: 10px;
}

.intro p {
  padding: 5px;
  color: #272A31;
  border: 2px solid gray;
  font-size: 20px;
  line-height: 30px;
}

/******************* Main Program ********************/

.main-program {
  background-image: url(../images/mainprogram.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
}

.main-program > p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #d3d3d3
}

.main-program hr, .tutors hr {
  width: 40px;
}

.program-list {
  list-style-type: none;
  padding: 0;
}

.program-list li {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 10px;
  min-height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
}

.flex1, .flex2, .flex3 {
  margin: 3px;
  font-size: 14px;
  font-weight: 600;
}

.flex1 {
  width:48px;
  height: 48px;
}

.flex2 {
  min-width: 25%;
  overflow: hidden;
  color: #EC5242 
}

.flex3 {
  min-width: 50%;
  overflow: hidden;
  color: #272A31;
}

/******************* Tutors *****************/

.tutors {
  margin-top: 30px;
  padding: 10px;
  
}

.tutors-title {
  text-align: center;
  font-weight: bold;
  color: red;
}
.grid-pro-1 {
  grid-area: image;
  width: 100px;
  height: 100px;
  background-color: orange;
  border: solid;
  margin: 0;
  display: block;
  
}

.grid-pro-2 {
  grid-area: name;
  border: solid;
  margin: 0;
  margin-left: 0;;
}

.grid-pro-3 {
  grid-area: profession;
  border: solid;
  margin: 0;
}

.grid-pro-4 {
  grid-area: description;
  border: solid;
  margin: 0;
}

.grid-profiles {
  display: grid;
  grid-template-areas: 
  'image name name name name  name name'
  'image profession profession profession profession profession profession'
  'image description description description description description description';
  border: solid;
  margin: 20px 0px;

}

.grid-profiles p {
  font-size: 12px;
  margin-left: 10px;
  padding: 3px
}

.more-tutors {
  border: 2px solid gray;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 8px;
}

.more-tutors i {
  color: orange;
}