/* Home Page */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.menu-icon {
  font-size:30px;
}



.intro {
  background-image: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)),url(../images/webmobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  border: solid;
  padding-top: 30px;
}

.intro h1 {
  color: #EC5242;
  font-size: 52px;
  font-family: sans-serif;
  padding: 10px;
}

.intro p {
  padding: 5px;
  color: #272A31;
  border: 2px solid gray;
  font-size: 20px;
  line-height: 30px;
}

/******************* Main Program ********************/

.main-program {
  background-image: url(../images/mainprogram.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
}

.main-program > p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #d3d3d3
}

.main-program hr, .tutors hr {
  width: 40px;
}

.program-list {
  list-style-type: none;
  padding: 0;
}

.program-list li {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 10px;
  min-height: 90px;
  background-color: rgba(255, 255, 255, 0.5);
}

.flex1, .flex2, .flex3 {
  margin: 3px;
  font-size: 14px;
  font-weight: 600;
}

.flex1 {
  width:48px;
  height: 48px;
}

.flex2 {
  min-width: 25%;
  overflow: hidden;
  color: #EC5242 
}

.flex3 {
  min-width: 50%;
  overflow: hidden;
  color: #272A31;
}
